EXPO_PUBLIC_IMAGE_URL=https://api.unlimitedcarrier.mn/
EXPO_PUBLIC_API_URL=https://api.unlimitedcarrier.mn/graphql
EXPO_PUBLIC_OAUTH_CLIENT_ID=backoffice
EXPO_PUBLIC_OAUTH_CLIENT_SECRET=a697fecdd396641cccb85156cab85a80ba5
EXPO_PUBLIC_INTROSPECTION_TOKEN=eyJraWQiOiJiYWNrb2ZmaWNlIiwiYXBwIjoxLCJhbGciOiJSUzI1NiJ9.eyJpc3MiOiJVY1N1cHBJc3N1ZXIiLCJpYXQiOjE3NjEzNzI5NDUsImV4cCI6MTc2MTM4MDE0NSwianRpIjoiNGRiYmQwNmQtYTU3Ny00OWFlLTgwNzktMzAxMmRiZTI0ZWVmIiwic2NvcGVzIjoicHVibGljIGJhY2tvZmZpY2UiLCJ1c2VyIjp7ImlkIjoxLCJlbWFpbCI6ImJ1eWFuYmF0LmNoQGdtYWlsLmNvbSIsIm1vYmlsZSI6Ijk5MDMzNjcyIiwicm9sZSI6ImRyaXZlciJ9fQ.xCcuFdGe-T39oSSvMyaDrH-Z45avpWTeenhhBxPEP1Nc3DkocM9S6YpkTBLEXiDFJP1qxBEZN4fSUNICih7CEvd7h_fTMOeksFGWV--ccda6IvV7JDiRCCUM6Ph0btCdL4yIfMXgU_iACvTFTMuzfJg9HSeAPfHant_WHyCTRNE9xl5S2uE7w-tGU_zPL8u2-_pt-8LI75oVWtyvgOuBOH6K2DXVy0kgZ-LilriaJWjU9iShVpnMBE5Sy7L6YWWhVJCqFIpYcOozqVeIaRs2NMDnpXCt3XDmiHOmdfeQvy8IDoEwgIZCix_G6Mvcs8eWM6S1YTfP0MWGu4OxHTeNzw
EXPO_PUBLIC_JWT=YmFja29mZmljZTphNjk3ZmVjZGQzOTY2NDFjY2NiODUxNTZjYWI4NWE4MGJhNQ==